@model IEnumerable<Transfer>
@{
    ViewData["Title"] = "TransferTable";
}

<h1>TransferTable</h1>

<div>
    <input type="text" list="datalist"  onkeyup="ac(this.value)">
    <datalist id="datalist">
        @*<option value="Delhi"></option>
        <option value="Ahemdabad"></option>
        <option value="Punjab"></option>
        <option value="Uttar Pradesh"></option>
        <option value="Himachal Pradesh"></option>
        <option value="Karnatka"></option>
        <option value="Kerela"></option>
        <option value="Maharashtra"></option>
        <option value="Gujrat"></option>
        <option value="Rajasthan"></option>
        <option value="Bihar"></option>
        <option value="Tamil Nadu"></option>
        <option value="Haryana"></option>*@
    </datalist>
</div>

<table class="table table-danger table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">TID</th>
          <th scope="col">CartID</th>
          <th scope="col">Name</th>
          <th scope="col">ISBN</th>
          <th scope="col">Location</th>
          <th scope="col">Date</th>
          <th scope="col">Category</th>
          <th scope="col">Print</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
              <th scope="row">@data.Id</th>
              <td>@data.TID</td>
              <td>@data.CartID</td>
              <td>@data.Name</td>
              <td>@data.ISBN</td>
              <td>@data.Location</td>
              <td>@data.Date</td>
              <td>@data.Category</td>
              <td><a type="button" class="btn btn-warning" asp-controller="Asset" asp-action="TransferTableByID" asp-route-Id="@data.TID">Print</a></td>
            </tr>
        }
    </tbody>
</table>